<div class="page-container">
    <div class="page-head">
        <g-search
            placeholder="{{'Enter staff name or code'|translate}}"
            (searchInputChange)="onSearchInputChange($event)">
        </g-search>
        <div class="page-filter">
            <div class="d-flex flex-start">
                <div class="page-filter-group">
                    <div class="page-filter-title">{{'Attendance area'|translate}}</div>
                    <div class="btn-group" dropdown [insideClick]="true">
                        <span class="caret bg-text" dropdownToggle>{{filter['areas']?.length ? commonService.joinField(filter['areas'], 'name') : 'Tất cả'}}</span>
                        <div *dropdownMenu class="dropdown-menu" style="padding: 0;"  role="menu">
                            <div class="filter-group-container">
                                <div class="search-box m-b-16">
                                    <span class="search-icon"></span>
                                    <span class="vertical-divider"></span>
                                    <input type="text" class="search-input" placeholder="{{'Enter keyword'|translate}}"
                                           (keyup)="onLocationSearch($event)">
                                </div>
                                <div class="wrap">
                                    <label class="checkbox space-between" *ngFor="let area of listLocation">
                                        <span>{{area.name}}</span>
                                        <input type="checkbox" [checked]="area.isChecked"
                                               (change)="onLocationChange($event, area)"/>
                                        <img src="assets/images/content/checkbox-unchecked.svg" class="unchecked">
                                        <img src="assets/images/content/checkbox-checked.svg" class="checked">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-filter-group m-l-32">
                    <div class="page-filter-title">{{'Attendance time range'|translate}}</div>
                    <div class="btn-group" dropdown [insideClick]="true">
                        <span class="caret bg-text" dropdownToggle>{{filter['date_range']?.length ? commonService.joinField(filter['date_range'], null, ' - ') : 'Tất cả'}}</span>
                        <div *dropdownMenu class="dropdown-menu" style="padding: 0;" role="menu">
                            <div class="filter-group-container date-range" style="padding-top: 0;">
                                <bs-daterangepicker-inline
                                    [(bsValue)]="filter['date_range']"
                                    (bsValueChange)="onChooseDateRange($event)"
                                    [bsConfig]="bsConfig">
                                </bs-daterangepicker-inline>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <span class="reset" (click)="onResetFilterClick()">Reset</span>
        </div>
    </div>
    <div class="page-content">
        <div class="d-flex flex-end m-b-12">
            <span class="btn-span export" (click)="onExportClick()">{{'Export'|translate}}</span>
        </div>
        <div class="table-container">
            <table class="custom-table tr-pointer">
                <tr>
                    <th>{{'No.'|translate}}</th>
                    <th>{{'Staff ID'|translate}}</th>
                    <th>{{'Fullname'|translate}}</th>
                    <th>{{'Avatar'|translate}}</th>
                    <th>{{'Shift'|translate}}</th>
                    <th>{{'Attendance area'|translate}}</th>
                    <th>{{'Attendance time'|translate}}</th>
                    <th>{{'Register area'|translate}}</th>
                </tr>
                <tr *ngFor="let staff of listStaff; let i=index;">
                    <td>{{itemPerPage * (currentPage - 1) + i + 1}}</td>
                    <td>{{staff.id_number}}</td>
                    <td>{{staff.user_name}}</td>
                    <td><img class="avatar" [src]="staff.url ? staff.url : '../assets/images/content/img-avatar.svg'" alt="Avatar"></td>
                    <td>{{staff.shift_name}}</td>
                    <td>{{staff.area_name}}</td>
                    <td>{{commonService.formatDateTimeVN(staff['time_access'])}}</td>
                    <td>{{staff.facesluice_id}}</td>
                </tr>
                <tr *ngIf="!listStaff.length">
                    <td [colSpan]="8" class="text-center">
                        {{'No data'|translate}}
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="listStaff.length" class="pagination-container">
            <g-pagination [page]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></g-pagination>
        </div>
    </div>
</div>
<div class="dialog-loading" [ngStyle]="{'display': isLoading ? 'initial' : 'none'}">
    <div class="dialog-loading-mask">
        <mat-spinner></mat-spinner>
        <p>{{'Loading...'|translate}}</p>
    </div>
</div>
