<div class="wrapper">
    <div class="inner-left">
        <img src="assets/images/auth/logo-white.png" alt="SmartGate Logo">
    </div>
    <div class="inner-right">
        <div class="top-logo">
            <img src="assets/images/auth/logo.png">
            <h1>{{'Login to Smart Gate'|translate}}</h1>
        </div>
        <form  name="form" (ngSubmit)="forgotForm.form.valid && onForgotSubmit()" #forgotForm="ngForm" novalidate>
            <div class="form-group mb-4">
                <label class="login-input-label">{{'Email'|translate}}</label>
                <input
                    type="text"
                    placeholder="{{'Enter text'|translate}}"
                    name="email"
                    #mail="ngModel"
                    [(ngModel)]="userEmail"
                    pattern="^[a-z][a-z0-9_\.]{5,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$"
                    [ngClass]="{ 'is-invalid': forgotForm.submitted && mail.invalid || errors['email']?.length}"
                    required/>
                <div *ngIf="forgotForm.submitted && mail.invalid" class="text-danger">
                    <div *ngIf="mail.errors.required">{{'This field is required'|translate}}</div>
                    <div *ngIf="mail.errors.pattern">{{'This email is not valid'|translate}}</div>
                </div>
                <div *ngIf="errors['email']?.length" class="text-danger">
                    <div *ngFor="let err of errors['email']">{{err}}</div>
                </div>
            </div>
            <div class="m-t-40" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 24px;">
                <button type="button" class="btn btn-login-cancel" routerLink="/login" >
                    {{'Cancel'|translate}}
                </button>
                <button class="btn btn-login">
                    {{'Reset password'|translate}}
                </button>
            </div>
        </form>
    </div>
</div>
<div class="progress-container" *ngIf="isSubmitted">
    <mat-spinner [color]="'accent'"></mat-spinner>
</div>
